@font-face {
    font-family: 'inter';
    src: url(fonts/inter.ttf) format('truetype');
}

@font-face {
    font-family: 'jockeyone';
    src: url(fonts/jockeyone.ttf) format('truetype');
}


li {
    list-style: none;
}

/* Header */

header {
    font-family: 'jockeyone';
    font-size: 1.3em;
}

header .main-nav-bar div img {
    height: 1.5em;
}

header .main-nav-bar {
    background-color: #00BF63;
    height: 60px;
}

header nav div a {
    color: #ffff;
}

header .nav-bar-logo {
    background-image: url(images/fundo.jpg);
    height: 200px;
}

header .nav-bar-logo .pref {
    font-size: 20px;
}

header .nav-bar-logo .barb,
header .nav-bar-logo .pref {
    color: #ffff;
}

header .nav-bar-logo img {
    width: 10em;
    height: 10em;
}

header .nav-bar-logo div button {
    background-color: #00BF63;
    color: #ffff;
    border: none;
    border-radius: 5px;
}

.nav-bar-logo .button-pesquisa a {
    text-decoration: none;
}

header .nav-bar-logo div button:hover {
    background-color: #058347;
}

header .menu-nav-bar {
    background-color: #00BF63;
    height: 60px;
}

.hover-a:hover {
    background-color: #058347;
}

.hover-a {
    color: #ffff;
    text-decoration: none;
}

header .menu-nav-bar .menu-mobile {
    display: none;
}

header .menu-nav-bar ul .sub-menu:hover {
    background-color: #4EECA1;
}

header nav .dropdown-menu {
    text-align: left;
    background-color: #058347;
    color: #ffff;
    border: none;
    width: 180px;
    padding: 15px;
    border-radius: 5px;
}

/* Main  */

main .pesquisa-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #058347;;
    height: 18vh;
}

main a {
    text-decoration: none;
}

main div .pesquisa-conteudo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10vh;
    width: 88vw;
}

main div .pesquisa-conteudo button {
    color: #ffff;
    font-family: 'jockeyone';
    font-size: 1.7em;
    border-radius: 5px;
    background-color: #00BF63;
    border: 0px solid #000;
    height: 45px;
    width: 230px;
}

main div .pesquisa-conteudo h1 {
    font-family: 'jockeyone';
    color: #ffff;
    font-size: 1.0em;
    position: relative;
    top: 5%;
}

main .div-section {
    position: relative;
    display: flex;
    justify-content: center;
}

main section {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 5px;
    height: 55vh;
    width: 88vw;
    margin-top: 5%;
    margin-bottom: 50px;
}

main .div-section section .nav-pesq {
    display: flex;
    gap: 10px;
    margin-top: 3px;
    margin-left: 10px;
}

main .div-section section .nav-pesq .inicio {
    color: #00BF63;
}

main .div-section section .nav-pesq .inicio:hover {
    text-decoration: underline;
}

main .div-section section .div-input h1 {
    font-family: 'jockeyone';
    margin-top: 80px;
    margin-bottom: 40px;
}

main .div-section section .div-input {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

main .div-section section .div-input input {
    height: 8vh;
    width: 50vw;
    border: none;
    background-color: #cccccc;
    border-radius: 5px;
    margin-bottom: 50px;
}

main .div-section section .div-input input::placeholder {
    color: #a5a5a5;
}

main .div-section section .div-input button {
    width: 13vw;
    height: 2.5vw;
    border-radius: 5px;
    border: none;
    background-color: #00BF63;
    color: #ffff;
    font-family: 'jockeyone';
    font-size: 1.7em;
    margin-bottom: 30px;
}

main .div-section section .div-input p {
    font-family: 'inter';
    font-weight: 500;
    margin: 0px;
}


main nav .img-gps {
    width: 100%;
}

/* Footer  */

footer {
    height: 200px;
    background-color: #00BF63;
    max-width: 100%;
}

footer p {
    color: #ffff;
}

footer a {
    text-decoration: none;
}




footer div h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: #ffff;
}

footer div h1 {
    font-family: 'jockeyone';
    font-size: 2.5em;
}

footer .btn-contatos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-family: 'inter';
    font-size: 1em;
}

footer .btn-contatos .facebook a,
footer .btn-contatos .ouvidoria a,
footer .btn-contatos .localizacao a,
footer .btn-contatos .instagram a,
footer .btn-contatos .telefone a {
    display: flex;
    gap: 25px;
}

footer .btn-contatos .facebook img,
footer .btn-contatos .ouvidoria img,
footer .btn-contatos .localizacao img,
footer .btn-contatos .instagram img,
footer .btn-contatos .telefone img {
    height: 50px;
}

footer a:hover {
    text-decoration: underline;
    color: #058347;
}

footer p:hover {
    color: #058347;
}

footer span {
    font-weight: 400;
}



@media only screen and (max-width: 480px) {

    /* Header  */

    header p {
        display: none;
    }

    header .main-nav-bar div img {
        height: 1em;
    }

    header .nav-bar-logo {
        height: 150px;
    }

    header .nav-bar-logo img {
        position: relative;
        bottom: 20px;
        height: 175px;
        width: 160px;
    }

    header .nav-bar-logo h1 {
        position: relative;
        top: 20px;
    }

    header .nav-bar-logo button {
        display: none;
    }

    header .menu-nav-bar {
        height: 45px;
    }

    header .menu-nav-bar .display-oculto {
        display: none;
    }

    header .menu-nav-bar .menu-mobile {
        display: block;
        position: relative;
        left: 45%;
        margin-top: 5px;
        font-size: 15px;
    }

    /* Main  */
     
    main .pesquisa-div {
        height: 15.1vh;
    }

    main div .pesquisa-conteudo button {
        font-size: 1em;
        height: 50px;
    }

    main div .pesquisa-conteudo h1 {
        font-size: 1.3em;
    }

    main section {
        height: 40vh;
        width: 88vw;
        margin-top: 5%;
        margin-bottom: 30px;
    }

    main .div-section section .nav-pesq {
        font-size: 0.8em;
    }

    main .div-section section .div-input h1 {
        margin-top: 0px;
        margin-bottom: 10px
    }

    main .div-section section .div-input input {
        height: 6.5vh;
        width: 80vw;
        margin-bottom: 20px;
    }

    main .div-section section .div-input input::placeholder {
        font-size: 0.8em;
    }

    main .div-section section .div-input button {
        width: 32vw;
        height: 8vw;
        border-radius: 5px;
        border: none;
        font-size: 1em;
        margin-bottom: 10px;
    }

    main .div-input .tittle {
        font-size: 0.8em;
        font-family: 'inter';
        font-weight: 900;
    }

    main .div-input p {
        font-size: 0.6em;
        font-weight: 300;
        text-align: center;
    }

    /* Footer  */

    footer {
        height: auto;
    }

    footer .contatos {
        display: none;
    }

    footer .btn-contatos {
        background-color: #058347;
        padding: 10px;
        margin-top: 0px;
    }

    footer .btn-contatos p {
        display: none;
    }

    footer .btn-contatos .facebook img,
    footer .btn-contatos .ouvidoria img,
    footer .btn-contatos .localizacao img,
    footer .btn-contatos .instagram img,
    footer .btn-contatos .telefone img {
        height: 1.8em;
    }
}